### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Logs ###
logs/
*.log
*.out

### OS ###
.DS_Store
Thumbs.db

### VS Code ###
.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Spring Boot ###
*.pid
*.gz

### Other ###
/build/
